.mainPanel {
	/* TODO */
	flex: 1;
	padding: 85px;
	background-color: #F2F3F6;
	overflow: scroll;
}

.mainPanel .bigTitle {
	font-family: SF-Pro-Bold;
	font-size: 45px;
	margin-top: 10px;
	margin-left: 30px;
	color: #01205B;
}

.mainPanel .bigTitleText {
	font-family: SF-Pro-Regular;
	font-size: 15px;
	margin-top: 14px;
	margin-bottom: 32px;
	margin-left: 30px;
	color: #01205B;
	line-height: 1.4;
}

/*=================================*/

.card {
	background-color: white;
	margin: 10px;
	flex: 1;
	font-family: SF-Pro-Regular;
	box-shadow: 0px 9px 26px -4px rgba(97,97,97,0.5);
	border-radius: 10px;
}

.toggleablePanel {
	/* TODO */
	display: flex;
	flex-direction: column;
}

.toggleablePanel .header {
	/*background-color: salmon;*/	
	padding-top: 44px;
	padding-bottom: 36px;
}

.toggleablePanel .body {
	flex: 1;
}

.toggleablePanel .header .toggleBar {
	width: 380px;
	margin: auto;
	border-bottom: 1px solid #8D99B5;
	display: flex;
	justify-content: space-between;
}

.toggleablePanel .toggleBar .toggle {
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 12px;
}

.toggleablePanel .toggleBar .toggle.selected {
	border-bottom: 4px solid #FF8900;

}

/*=================================*/

.textPanel {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.textPanel .bolded {
	font-family: SF-Pro-Bold;
	font-size: 64px;
	color: #4BB3FF;
}

.textPanel .body {
	font-family: SF-Pro-Regular;
	margin-top: -70px;
	line-height: 1.4;
	width: 50%;
	color: #01205B;
	font-size: 15px;
}

/*=================================*/

.imagePanel {
	display: flex;
  flex-direction: column;
  padding: 10px;
}

.imagePanel .titleText {
	font-family: SF-Pro-Bold;
	font-size: 24px;
	margin-top: 40px;
	margin-left: 30px;
	color: #01205B;
}

.imagePanel .image {
	width: 100%;
}

/*=================================*/

.filterPanel {
	/*display: flex;*/
	padding-top: 6px;
}

.filterPanel .header {
}

.filterPanel .header .title {
	font-family: SF-Pro-Bold;
	font-size: 24px;
	margin-top: 40px;
	margin-left: 30px;
	color: #01205B;
}

.filterPanel .header .titleText {
	font-family: SF-Pro-Regular;
	font-size: 15px;
	line-height: 1.4;
	margin-top: 10px;
	margin-left: 30px;
	color: #01205B;
}

.filterPanel .search {
	margin-top: 30px;
	margin-left: 30px;
}

.filterPanel .search .searchInput {

}

.filterPanel .terms {
	display: flex;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 36px;
}

.filterPanel .terms .searchTerm {
	font-family: SF-Pro-Regular;
	margin-right: 12px;
	padding: 4px 20px;
	border: 1.5px solid #979797;
	border-radius: 20px;
	color: #979797;
}

.filterPanel .terms .searchTerm.selected {
	font-family: SF-Pro-Medium;
	background-color: #01205B;
	border: 1.5px solid #01205B;
	color: white;
}

.filterPanel .results {
	font-family: SF-Pro-Regular;
	color: #01205B;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 40px;
}

.filterPanel .results .singleResult {
	margin-top: 20px;
	padding: 26px;
	/*border: 1.5px solid #979797;*/
	border-radius: 16px;
	/*background-color: blue;*/
	background-color: #F5FAFE;
}

.filterPanel .results .singleResult.positive {
	background-color: #E2F8D6;
}

.filterPanel .results .singleResult.negative {
	background-color: #FFEBE8;
}

.filterPanel .singleResult .resultHeader {
	font-family: SF-Pro-Medium;
}

.filterPanel .singleResult .resultContent {
	margin-top: 10px;
	line-height: 1.4;
	font-size: 13.5px;
}

.seeMore {
	font-family: SF-Pro-Medium;
	margin-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	color: #646464;
}





